
#contain2{
	margin-top:60px;
	background-color:#f7f7f7;
    margin-left:39%;
	border-radius:5px;  
	border-bottom:4px solid #e9e9e9;
	border-right:2px solid #e7e7e7;
	border-left:2px solid #e7e7e7;
	width:25%;	
}
#contain1{
	background-color:##f7f7f7;
	margin-top:50px;
}
#res{
	
	margin:40px;
	background-color:transparent;
	
	border-radius:6px;
	height:45px;
	font-weight:underline;
}
#form2{
    position:relative;
    top:0px;
    left: 45%;
    transform:translateX(-50%);
    padding:10px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	width:60%;
	background-color:#transparent;
}
.inputButton {
	padding:10px 10px;
    width:100%;
display: block;
z-index: 1;
position: relative;
border: 1px solid #3079ed;
color: #fff;
text-shadow: 0 1px rgba(0,0,0,0.1);
background-color:dodgerblue;
border-radius:3px;
}

.inputButton:hover {
	
	transition:all 0.4s linear;
   background:royalblue;
   
   
}

.inputButton:active {
    top: 5px;
    box-shadow: none;
}

.inputButton:focus {
    outline: none;
}
#select{
	width:220px;
	height:35px;
}

